.db_btn {
    -fx-background-color: #a73;
    -fx-cursor: hand;
    -fx-font-family: "Arial";
    -fx-font-size: 15px;
    -fx-text-alignment: center;
    -fx-text-fill: #000000;
    -fx-alignment: CENTER;
    -fx-background-radius: 10;
    -fx-pref-width:200px;
    -fx-pref-height: 50px;
}

.left_pane {
    -fx-background-color: #a73;
    -fx-pref-width: 130px;
    -fx-pref-height: 600px;
}

.admin_section {
    -fx-background-color: #999;
}

.table_columns {
    -fx-background-color: white;
    -fx-text-fill: black;
}


.menu_bar {
    -fx-background-color: #841;
}

.anchor_pane {
    -fx-background-color: #a73;
}

.text_field_pane {
    -fx-background-color: #79dc05;

}

.image_view{
    -fx-background-color: yellow;
    -fx-border-color: black;
    -fx-border-width: 2;
}




.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color:  #999999;
     -fx-text-fill: black;
}
.table-view .column-header .label{
   -fx-text-fill: white;
   -fx-font-weight: bold;
   -fx-alignment: CENTER_LEFT;
}
.table-view .cell{
   -fx-cell-size: 35;
  -fx-alignment: center-left;
  -fx-background-color: #FFFFFF;
  -fx-border-color: #29292D;
  -fx-text-fill: black;
  -fx-alignment: CENTER_LEFT;

}
.table-row-cell:selected {
   -fx-background-color: whitesmoke;
   -fx-text-background-color:  #33FF55;


}
.table-view:focused .table-row-cell:selected .table-cell {
    -fx-background-color: lightBlue;
    -fx-text-fill: grey;
}
/* scroll bar starts here */

/* The increment and decrement button CSS class of scrollbar */
.table-view .increment-button ,.table-view .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 2em;

}

/* The main scrollbar **track** CSS class  */
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
	-fx-background-color: transparent;
	-fx-border-color:derive( #FFFFFF,80%);

	-fx-background-radius: 2em;
	-fx-border-radius:2em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive( #FFFFFF,90%);
	-fx-background-insets: 1, 0, 0;
	-fx-background-radius: 2em;

}
